.container {
	width: 30rem;
	border: 1px solid #c8c8c8;
	margin: 0 auto;
}

.searchContainter {
	border-bottom: 1px solid #c8c8c8;
	display: flex;
}

.inputContainter {
	width: 80%;
}

input {
	border: none;
	padding: 2%;
	height: auto;
	font-size: large;
}

.buttonContainer {
	text-align: center;
	padding: 2%;
}

.itemsLeft {
	margin: 0;
	padding: 0;
	float: left;
}

.clearCompletedButton {
	border: none;
	float: right;
}

.filterButtons {
	width: 80px;
	height: 25px;
	font-size: small;
	border-radius: 5px;
	border-color: white;
}
